.controls {
    position: relative;
    bottom: 0;
    z-index: 3;
    width: 100%;
    background: linear-gradient(#4444, #0000);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.statusVideoControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.button,
.playButton,
.subtitles {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #3f51b5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.button:nth-child(1) {
    padding: 5px 10px 5px 7px;
}

.button:nth-child(3) {
    padding: 5px 7px 5px 10px;
}

.button,
.subtitles {
    width: 45px;
    height: 30px;
    border-radius: 10px;
    font-weight: 900;
}

.playButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon {
    width: 30px;
    height: 30px
}

.button:hover {
    background: #283593;
}

.button:active {
    background: #1a237e;
}